
//font size
$headSize: 40px;
$secondSize: 12px;
$weight: 400px;
$HeadLineHeight: 46px;
$lineHeight: 14px;
//radius
$form-radius: 20px;
$input-radius: 5px;
//colors
$bodyColor: #3F72AF;
$headColor: #112D4E;
$secondColor: #7B7B7B;
$bgColor: #AAAAAA;
$checkItem: #36CF00;
$inputBackground: #DBE2EF;
$form-color: #F9F7F7;
$hr: gba(0, 0, 0, 0.5);
$shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);

//window size
$desktopWidth: 1440px;
$tableWidth: 768px;
$mobileWidth: 390px;

$breakpoint-md: 992px;

$formDesktopWidth: 600px;
$formDesktopHeight: 450px;

$formMobileWidth: 350px;
$formMobileHeight: 500px;